* {
    padding: 0px;
    margin: 0px;
}

.flex {
    display: flex;
}

.align-center {
    align-items: center;
}

.justify-center {
    justify-content: center;
}

.column {
    flex-direction: column;
}

main {
    height: 100vh;
    min-height: 100vh;
    width: 100vw;
    min-width: 100vw;
    overflow-x: hidden;
}

.main-container {
    height: inherit;
    min-height: inherit;
    width: inherit;
    min-width: inherit;
}

.image-side {
    width: 50%;
    height: 600px;
    align-items: end;
    background-color: red;
    /* position: absolute; */
}

.image-side .bg-image {
    height: 550px;
    width: 400px;
    background: url(mobile-image-bg.png);
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
}

.image-side div img {
    height: 470px;
    width: 250px;
    object-fit: contain;
    position: relative;
    top: 25px;
    left: 120px;
    transition: 0.5s all;
    background-blend-mode: darken;
}

.form-side {
    width: 40%;
}
